
.main {
    margin: 2rem 2rem 0;
    color: #cacad0;
}

.innerMain {
    background-color: var(--active-color);
    border-radius: 12px;
    padding: .5rem;
    margin-bottom: 2rem;
    font-family: Helvetica, serif;
}

.utable li {
    margin: 5px 0;
}

.innerMain h3, .innerMain h2 {
    text-align: center;
}

.contactBox {
    display: flex;
    justify-content: center;
}
.contactBox svg {
    fill: #cacad0;
}

.productCardGrid {
    margin: 1rem auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.productCardGrid svg {
    fill: white;
}

.productUtilsBox {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.MrWhite *{
    color: white !important;
}

.form {
    background-color: var(--active-color);
    border-radius: 12px;
    margin: 0 auto 2rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.form > h3 {
    margin: .5rem;
    font-size: 16pt;
}

.form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form svg {
    fill: white !important;
}

.buttonHover:hover {
    background-color: var(--btn-hover) !important;
    border-radius: 8px;
}

.formButton {
    margin: .5rem 0;
    border-radius: 8px;
    height: 3rem;
    background-color: #0d6efd;
    color: white;
    width: 100%;
    transition: background-color 500ms;
}

.formButton:hover {
    background-color: #5a00ff;
}

.formButton:disabled {
    color: gray !important;
}

/*.form .inputwrap {*/
/*    border-radius: 8px;*/
/*    background-color: var(--bkg-color);*/
/*    max-width: fit-content;*/
/*}*/

/*.inputwrap span {*/
/*    padding: 0 8px;*/
/*}*/


.featuresCardGrid {
    composes: productCardGrid;
    grid-template-columns: repeat(2, 1fr);
}

.form > img {
    max-height: 5rem;
}

.featuredText {
    color: #0d6efd;
}

.hyperSpan {
    width: 70%;
    background-color: #cacad0;
    padding: 0;
    height: 2px;
    border-radius: 2rem;
    display: block;
    margin: 2rem auto 0;
}


@media screen and (max-width: 720px){
    .main {
        margin: 1rem .5rem;
    }

    .productCardGrid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .productUtilsBox {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: auto;
    }
    .contactBox {
        flex-direction: column;
    }
    .contactBox > div {
        margin: .25rem;
    }
}