
.card {
    background-color: var(--active-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.card img {
    width: 20rem;
    height: 20rem;
}

.cardContent {
    color: #cacad0;
    border-radius: 8px;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

.cardContent > h2 {
    font-size: 20pt;
    margin: 0;
    background: linear-gradient(135deg, #8e388e,#5a00ff 50%, #0d6efd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.cardButton {
    margin: auto .5rem .5rem;
    border-radius: 8px;
    height: 3rem;
    background-color: #0d6efd;
}

.cardContent > span {
    margin-left: 1rem;
    font-size: 11pt;
    margin-top: auto;
}
.cardContent > span > a {
    color: #cacad0;
    text-decoration: underline;
}

.cardButton:disabled {
    color: gray !important;
}


@media screen and (max-width: 720px){
    .card {
        margin: auto;
        flex-direction: column;
    }
}