

.LineCard {
    border-radius: 12px;
    background-color: var(--active-color);
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    color: white;
    padding: .5rem;
    width: 240px;
    height: 3rem;
    cursor: pointer;
    transition: background-color 300ms;
}

.LineCard:hover {
    background-color: var(--btn-color);
}

.LineCard svg {
    fill: white;
}

.LineCard h3 {
    margin: 0 .5rem;
}

@media screen and (max-width: 720px){
    .LineCard {
        width: calc(320px - 1rem);
        margin: .5rem 0;
    }
}