

.card {
    border-radius: 16px;
    background-color: gray;
    height: 16rem;
    width: 16rem;
    position: relative;
    transition: filter 300ms ease;
    margin: .5rem;
}

.doublecard {
    composes: card;
    width: 33rem;
}

.card img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    color: white;
    bottom: 0;
    padding: .5rem;
    margin: .5rem;
}

.card:hover {
    cursor: pointer;
    filter: brightness(1.5);
}