

.card {
    background-color: var(--btn-color);
    border-radius: 12px;
    width: 320px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.headBox {
    display: flex;
    align-items: center;
}

.headBox img {
    border-radius: 16rem;
    height: 6rem;
}

.nameBox {
    margin: 0 1rem;
}
.nameBox > p {
    color: #cacad0 !important;
    margin-left: 1.5rem;
}

.nameBox * {
    color: white !important;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    margin: .5rem;
    text-align: left !important;
}


.convBox {
    border-radius: 8px;
    background-color: var(--active-color);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-top: 1rem;
    flex: 1;
}

.convMine {
    background: linear-gradient(135deg, #8e388e,#5a00ff 70%, #0d6efd);
    border-radius: 12px 12px 4px 12px;
    margin: 4px 0 4px auto;
    width: fit-content;
    padding: 4px 8px;
    max-width: 70%;
}

.convUser {
    background: var(--btn-color);
    border-radius: 12px 12px 12px 4px;
    margin: 4px auto 4px 0;
    width: fit-content;
    padding: 4px 8px;
    max-width: 70%;
}

.attachImg {
    margin-top:.5rem;
    border-radius: 6px;
    width: 100%;
}

.attachVid {
    margin-top:.5rem;
    border-radius: 6px;
    width: 100%;
    transition: filter 300ms ease;
}
.attachVid:hover {
    cursor: pointer;
    filter: brightness(0.75);

}