
.UnameBox > h3 {
    background-color: var(--btn-color);
    border-radius: 4px;
    padding: .3rem .5rem;
    width: fit-content;
    margin: 0 0 0 1rem;
}


@media screen and (max-width: 720px){

    .UnameBox > h3 {
        margin-left: 0;
    }
}