
.carouselBox {
    border-radius: 12px;
}

.carouselItem {
    max-height: 30rem;
    position: relative;
}

.carouselItem img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.carouselItem div.textbox {
    z-index: 20;
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.carouselItem h3, .carouselItem p {
    margin: .5rem;
}

