

.footerTop {
    display: flex;
    margin: 1rem;
}

.footerTop > div {
    margin-left: .5rem;
}

.footerTop > div > * {
    margin: .2rem;
}

.footerTop p, .footerTop h5 {
    color: #adadad;
}

.footerTop > img {
    height: 6rem;
    cursor: pointer;
}
.footerTop > img:hover {
    background: linear-gradient(135deg, #8e388e,#5a00ff 70%, #0d6efd);
}

.footerLine {
    width: 100%;
    height: 3px;
    background: linear-gradient(135deg, #8e388e,#5a00ff 70%, #0d6efd);
}

.footerLinklist {
    margin: .5rem;
}

.footerLinklist p {
    cursor: pointer;
    transition: 300ms;
}

@media screen and (max-width: 600px) {
    .footerTop {
        flex-direction: column;
        border-left: white 4px solid;
    }
    .footerTop > div {
        display: flex;
        align-items: baseline;
    }

    .footerLinklist {
        display: block !important;
    }
}