
.footer {
    background-color: black;
    color: white;
    font-family: Helvetica, serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerTop {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.footerTop > div {
    margin-left: .5rem;
}

.footerTop > div > * {
    margin: .2rem;
}

.footerTop p, .footerTop h5 {
    color: #adadad;
}

.footerTop > img {
    height: 6rem;
    cursor: pointer;
}
.footerTop > img:hover {
    background: linear-gradient(135deg, #8e388e,#5a00ff 70%, #0d6efd);
}

.footerLine {
    width: 100%;
    height: 3px;
    background: linear-gradient(135deg, #8e388e,#5a00ff 70%, #0d6efd);
}

.footerBottom {
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: black 2px solid;
    border-radius: 8px;
    padding-right: .5rem;
    text-decoration: none;
    color: white;
    margin: .5rem;
}

.footerBottom a:hover {
    border-color: white;
}

.footerBottom img {
    filter: invert(100%);
    height: 3rem;
    margin-right: .5rem;
}

.footerLinklist {
    margin: .5rem;
}

.footerLinklist p {
    cursor: pointer;
    transition: 300ms;
}

.footer p:hover {
    color: white;
    text-decoration-line: underline;
}

@media screen and (max-width: 600px) {
    .footerBottom {
        flex-direction: column;
        align-items: start;
    }
    .footerTop {
        flex-direction: column;
    }
    .footerTop > div {
        display: flex;
        align-items: baseline;
    }

    .footerLinklist {
        display: block !important;
    }
}