
.panelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dedede;
}

.panelCorner {
    position: fixed;
    width: 2rem;
    height: 2rem;
    background: var(--active-color);
    z-index: -9;
    left: var(--nav-height);
    top: var(--nav-height);
}

.panelCorner > div {
    border-radius: 100% 0 0 0;
    background-color: var(--bkg-color);
    width: 100%;
    height: 100%;
}