
:root {
    --bkg-color: #191921;
    --active-color: #212125;
    --btn-color: #484a4d;
    --btn-hover: #525357;
    --text-color: white;

    --primary-color: #0d6efd;
    --success-color: #43b581;
    --error-color: #f04747;

    --nav-height: 60px;
    font-family: Helvetica, serif;
    color-scheme: dark;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,p {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background-color: var(--bkg-color);
}

/*input {*/
/*    border-radius: 8px;*/
/*    border-width: 0;*/
/*    padding: 12px;*/
/*    outline: none;*/
/*    font-size: 12pt;*/
/*    color: white;*/
/*    background-color: var(--btn-color);*/
/*}*/

label, legend {
    color: #cacad0 !important;
}
input {
    -webkit-text-fill-color: unset !important;
    color: #cacad0 !important;
}


.btnSuccess {
    background-color: var(--success-color) !important;
}

.btnError {
    background-color: var(--error-color) !important;
}


.loading {
    background-color: var(--btn-hover);
    padding: 2rem;
    border-radius: 8px;
    width: fit-content;
}



/* OVERRIDES */

span.swiper-pagination-bullet-active {
    background-color: #0d6efd !important;
}

.MuiTooltip-tooltip {
    font-size: 12pt !important;
}
.MuiTooltip-popper {
    margin-left: 4px !important;
}

.MuiTooltip-arrow {
    margin-left: -0.7em !important;
}

.MuiBadge-badge {
    padding: 0;
}

.serversWindow {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40rem;
}

.vServersWindow {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40rem;
}


@media screen and (max-width: 720px){
    .serversWindow, .vServersWindow {
        width: 100%;
    }
    .serversWindow button {
        width: 4rem !important;
    }
}


/* ANIMATIONS */

.notifyAnimate {
    animation: notify alternate infinite 1s ease-in-out;
}

@keyframes notify {
    from {fill: var(--text-color);}
    to {fill: var(--error-color);}
}